.landing-wrapper {
  margin: 2rem 5rem;
}
.landing-content-wrapper {
  flex-direction: row-reverse;
  gap: 4rem;
}
.primary-txt{
  color: var(--primary-color);
}
.landing-content,
.hero-img-wrapper {
  max-width: 514px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .landing-content-wrapper {
    margin: 2rem 1rem;
    flex-direction: column;
  }
  .landing-wrapper{
    margin: 1rem 0rem;
  }
}
  