.label-card-wrapper {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--transparent-white);
}
.label-wrapper{
  max-width: 100%;
  border: 1px solid var(--primary-color);
}
.label-input{
  max-width: 100%;
  border: none;
  padding: 0.5rem 0.3rem;
  background-color: var(--transparent-white);
}
.label-btn{
  background-color: var(--transparent-white);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  padding: 0.15rem;
}
.label-card-list{
  flex-wrap: wrap;
}