
.card {
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--transparent-white);
}
.card:hover{
  transition: 0.3s ease-in-out all;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-container{
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.card__title-wrapper{
  margin-bottom: 0.3rem;
}
.card__title {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  resize: none;
  width: 100%;
  overflow: hidden;
}
.card__title, .card__content:focus {
  outline: none;
}
.card__footer-wrapper{
  margin-top: 1.5rem;
}
.bttn-without-padding{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 0.9rem;
  cursor: pointer;
}
.card__content {
  font-size: 0.9rem;
  border: none;
  resize: none;
  width: 100%;
  overflow: hidden;
}
.card__action-icons {
  margin-left: auto;
}
.icon{
  cursor: pointer;
}
.small-text{
  font-size: 0.75rem;
}
.light-text {
  color: var(--secondary-text-color);
}

