
.card {
  border-radius: 0.5rem;
  background-color: var(--transparent-white);
}
.card-container{
  gap: 1rem;
}
.card__title-wrapper{
  margin-bottom: 0.3rem;
}
.card__title {
  font-size: 1rem;
  font-weight: 500;
}
.card__footer-wrapper{
  margin-top: 0.7rem;
}
.card__content {
  font-size: 0.9rem;
}
.card__action-icons {
  margin-left: auto;
}
.icon{
  cursor: pointer;
}
.small-text{
  font-size: 0.75rem;
}
.light-text {
  color: var(--secondary-text-color);
}

