.filter-sort-wrapper {
  max-width: 400px;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--transparent-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4004;
}
.sort-wrapper{
  gap: 1rem;
}
.clear-filter-btn{
  justify-content: flex-end;
}
